@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  padding: 20px;
}

img {
  margin: 15px 0px;
  width: 280px;
  height: 150px;
}

header .search {
  padding: 5px 10px;
  border: 1px solid cyan;
  border-radius: 5px;
  background-color: rgb(59, 13, 101);
  color: #ffffffb3;
  width: 300px;
  font-size: 22px;
}

body {
  background-color: rgb(167, 117, 214);
}

.region {
  font-size: 25px;
}

.country-name {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.country {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.country-cont {
  padding: 5px;
  border: 2px solid rgb(59, 13, 101);
  border-radius: 5px;
}
